<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link rel="stylesheet" href="/resource/common/layui/css/layui.css" media="all"/>
    <link href="/resource/js/bstable/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/resource/js/bootstrap/css/bootstrap-select.min.css"/>
    <link href="/resource/js/bstable/css/bootstrap-table.css" rel="stylesheet" type="text/css">
    <link href="/resource/css/table.css" rel="stylesheet" type="text/css">
</head>
<style>

</style>
<body style="background-color: #ecf0f5;font-family: 楷体;color: #475059;overflow: auto">
<div class="notice_main ">
    <select id ="course" >
    </select>

    <div id="echarts" style="height: 600px;"></div>
</div>
<script type="text/javascript" src="/resource/common/layui/layui.js"></script>
<script type="text/javascript" src="/resource/js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="/resource/js/bootstrap/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/resource/js/echarts.min.js"></script>
<script type="text/javascript">
    layui.use(['table', 'layer', 'laydate', 'form'], function () {
        var table = layui.table,
            $ = layui.$,
            layer = layui.layer,
            laydate = layui.laydate,
            form = layui.form;
    });

    $(document).ready(function(){
        $.ajax({
            type: "GET",
            url: "/course/getCourseList.do",
            data: {},
            async: false,
            dataType: "json",
            success: function (result) {
                console.log(result)
                var select = document.getElementById("course");
                select.length = 1;
                select.options[0].selected = true;
                var option1 =document.createElement("option");
                option1.setAttribute("value","");
                option1.setAttribute("selected","selected");
                option1.appendChild(document.createTextNode("全部"));
                select.appendChild(option1);
                for(var x = 0;x<result.length;x++){
                    var option = document.createElement("option");
                    option.setAttribute("value",result[x].id);
                    option.appendChild(document.createTextNode(result[x].name));
                    select.appendChild(option);
                }
            }
        })

        $('#course').change(function(){
            var x = $(this).children('option:selected').val();
            console.log(x);
            $.ajax({
                url: '/video/selectDataAnalysis.do',
                type: 'get',
                data:{"ptId":x},
                dataType: 'json',
                async: false,
                success: function (result) {
                    console.log(result.obje);
                    var num=new Array();
                    var date=new Array();
                    for (var i=0;i<result.obje.length;i++){
                        num[i]=result.obje[i].num;
                        date[i]=result.obje[i].date;
                    }
                    var myChart = echarts.init(document.getElementById('echarts'));
                    var option={
                        //标题
                        title:{
                            text:'月上传量统计'
                        },
                        //工具箱
                        tooltip : {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross',
                                label: {
                                    backgroundColor: '#6a7985'
                                }
                            }
                        },
                        //保存图片
                        toolbox:{
                            show:true,
                            feature:{
                                saveAsImage:{
                                    show:true
                                }
                            }
                        },
                        //图例-每一条数据的名字叫上传量
                        legend:{
                            data:['上传量']
                        },
                        //x轴
                        xAxis:{
                            data:date
                        },
                        //y轴没有显式设置，根据值自动生成y轴
                        yAxis:{},
                        //数据-data是最终要显示的数据
                        series:[{
                            name:'上传量',
                            type:'bar',
                            data:num
                        }]
                    };
                    myChart.setOption(option);
                }
            });
        });



        $.ajax({
            url: '/video/selectDataAnalysis.do',
            type: 'get',
            dataType: 'json',
            async: false,
            success: function (result) {
              console.log(result.obje);
              var num=new Array();
              var date=new Array();
              for (var i=0;i<result.obje.length;i++){
                  num[i]=result.obje[i].num;
                  date[i]=result.obje[i].date;
                }
                var myChart = echarts.init(document.getElementById('echarts'));
                var option={
                    //标题
                    title:{
                        text:'月上传量统计'
                    },
                    //工具箱
                    tooltip : {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            label: {
                                backgroundColor: '#6a7985'
                            }
                        }
                    },
                    //保存图片
                    toolbox:{
                        show:true,
                        feature:{
                            saveAsImage:{
                                show:true
                            }
                        }
                    },
                    //图例-每一条数据的名字叫上传量
                    legend:{
                        data:['上传量']
                    },
                    //x轴
                    xAxis:{
                        data:date
                    },
                    //y轴没有显式设置，根据值自动生成y轴
                    yAxis:{},
                    //数据-data是最终要显示的数据
                    series:[{
                        name:'上传量',
                        type:'bar',
                        data:num
                    }]
                };
                myChart.setOption(option);
            }
        });
    })
</script>

</body>
</html>